<nav>
  <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Página Inicial
  </button>

  <button routerLink="/projetos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Projetos
  </button>

  <button routerLink="/experiencias" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Experiências
  </button>

  <button routerLink="/contato" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Contato
  </button>
</nav>

<div class="container">
  <div class="projeto">
    <img id="foto" src="https://github.com/OlavoVales/Portfolio-Projeto-1-Lab-Desenvolvimento-de-Software/blob/main-sem-erro/front/src/assets/images/stardew-1.5.png?raw=true" alt="fotoPerfil" width="450px" height="250px">
    <span id="descricaoProjeto">EN-US: It consists in an application that lists all types of weapons and tools in the 1.5 update of the game Stardew Valley using as source the .json archives created by myself in my other repository called StardewValleyAPI.

PT-BR: Consiste numa aplicação que lista todos os tipos de armas e ferramentas que estavam na versão 1.5 do jogo Stardew Valley, usando como fonte os arquivos .json criados por mim no meu outro repositório chamado StardewValleyAPI.</span>
  </div>
  <div class="projeto">
    <img id="foto" src="https://github.com/OlavoVales/Portfolio-Projeto-1-Lab-Desenvolvimento-de-Software/blob/main-sem-erro/front/src/assets/images/aeds2.png?raw=true" alt="fotoPerfil" width="450px" height="250px">
    <span id="descricaoProjeto">EN-US: Made to share the projects using concepts taught in the data structures and algorithms II course, using the Java and C programming language.

PT-BR: Feito para compartilhar projetos com uso de conceitos ensinados na disciplina: algoritmos e estruturas de dados II, utilizando as linguagens de programação Java e C.</span>
  </div>
</div>
<app-footer></app-footer>