<nav>
  <button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Página Inicial
  </button>

  <button routerLink="/projetos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Projetos
  </button>

  <button routerLink="/experiencias" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Experiências
  </button>

  <button routerLink="/contato" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Contato
  </button>
</nav>

<!--Seção do Perfil-->
<div class="apresentacaoPerfil">
  <div class="perfil">
    <img id="foto" src="https://media.licdn.com/dms/image/v2/D4D03AQFwcFymJAsSLw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1700574043340?e=1759363200&v=beta&t=5094ubd7QohBaOSbh_DN4gB9ictVAKIqR-3-SCCIJ7k" width="450px" height="250px">
    <span id="nomePessoa">Olavo Vales</span>
  </div>
  <div class="sobreMim">
      <p id="textoSobreMim">Sou um desenvolvedor formado no curso técnico em Desenvolvendo Mobile e Web pelo Colégio Cotemig, atualmente cursando Engenharia Software pela PUC Minas.
Atuo como Full Stack, tendo já utilizado diversas linguagens, mas com mais foco em C#, Java, C++ e SQL, sou uma pessoa muito focada, comprometida, dedicada, resiliente e otimista.
Constantemente na busca de aprender mais e me tornar uma versão melhor de mim mesmo a cada dia.</p>
  </div>
</div>

<!--Seção das Experiências-->
<div class="experiencias">
  <h2>Experiências</h2>
  @for(item of arrayExperiencias(); track item;){
    <details>
      <summary>
        <p>
          <strong>{{ item.summary.strong}}</strong>
          {{ item.summary.p }}
        </p>
      </summary>
      <article [innerHTML]="item.text"></article>
    </details>
  }
</div>
<div class="verMaisExperiencias">
  <button routerLink="/experiencias" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Ver Mais
  </button>
</div>

<!--Seção dos Projetos-->
<div class="secaoProjetos">
  <h2>Meus Projetos</h2>
</div>
<div class="projetos">
  <div class="projeto">
    <img src="https://github.com/OlavoVales/Portfolio-Projeto-1-Lab-Desenvolvimento-de-Software/blob/main-sem-erro/front/src/assets/images/ti4.png?raw=true" alt="Projeto1" width="400px" height="200px">
  </div>
  <div class="projeto">
    <img src="https://github.com/OlavoVales/Portfolio-Projeto-1-Lab-Desenvolvimento-de-Software/blob/main-sem-erro/front/src/assets/images/stardew-1.5.png?raw=true" alt="Projeto2" width="400px" height="200px">
  </div>
  <div class="projeto">
    <img src="https://github.com/OlavoVales/Portfolio-Projeto-1-Lab-Desenvolvimento-de-Software/blob/main-sem-erro/front/src/assets/images/aeds2.png?raw=true" alt="Projeto3" width="400px" height="200px">
  </div>
</div>
<div class="verMaisProjetos">
   <button routerLink="/projetos" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Ver mais
  </button>
</div>
<app-footer></app-footer>